In [48]:
import pandas as pd
from pathlib import Path
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [49]:
# Read in CSV files
csv_path_1 = Path('Resources/healthcare-dataset-stroke-data.csv')
Health_Care = pd.read_csv(csv_path_1)

csv_path_2 = Path('Resources/Stroke Prediction.csv')
Stroke_Prediction = pd.read_csv(csv_path_2)

csv_path_3 = Path('Resources/stroke_prediction_dataset.csv')
Stroke_Prediction_2 = pd.read_csv(csv_path_3)

# Create a new DataFrame for Health_Care

Health_Care_df = pd.DataFrame(Health_Care)
Health_Care_df.head()

# Combine Stroke DataSets 1 & 2 into a single DataFrame

combined_stroke_data = pd.merge(Stroke_Prediction, Stroke_Prediction_2, how='outer', on='Patient ID')


# Display the Preview of the DataFrame

combined_stroke_data.head()

,Patient ID,Patient Name_x,Age_x,Gender_x,Hypertension_x,Heart Disease_x,Marital Status_x,Work Type_x,Residence Type_x,Average Glucose Level_x,...,Alcohol Intake_y,Physical Activity_y,Stroke History_y,Family History of Stroke_y,Dietary Habits_y,Stress Levels_y,Blood Pressure Levels_y,Cholesterol Levels_y,Symptoms_y,Diagnosis_y
0,18153,Mamooty Khurana,56,Male,0,1,Married,Self-employed,Rural,130.91,...,Social Drinker,Moderate,0,Yes,Vegan,3.48,140/108,"HDL: 68, LDL: 133","Difficulty Speaking, Headache",Stroke
1,62749,Kaira Subramaniam,80,Male,0,0,Single,Self-employed,Urban,183.73,...,Never,Low,0,No,Paleo,1.73,146/91,"HDL: 63, LDL: 70","Loss of Balance, Headache, Dizziness, Confusion",Stroke
2,32145,Dhanush Balan,26,Male,1,1,Married,Never Worked,Rural,189.00,...,Rarely,High,0,Yes,Paleo,7.31,154/97,"HDL: 59, LDL: 95","Seizures, Dizziness",Stroke
3,6154,Ivana Baral,73,Male,0,0,Married,Never Worked,Urban,185.29,...,Frequent Drinker,Moderate,0,No,Paleo,5.35,174/81,"HDL: 70, LDL: 137","Seizures, Blurred Vision, Severe Fatigue, Head...",No Stroke
4,48973,Darshit Jayaraman,51,Male,1,1,Divorced,Self-employed,Urban,177.34,...,Rarely,Low,0,Yes,Pescatarian,6.84,121/95,"HDL: 65, LDL: 68",Difficulty Speaking,Stroke

In [50]:
# Print info on Health_Care
Health_Care.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [51]:
# Print info on Stroke_Prediction
Stroke_Prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Patient ID                15000 non-null  int64
 1   Patient Name              15000 non-null  object
 2   Age                       15000 non-null  int64
 3   Gender                    15000 non-null  object
 4   Hypertension              15000 non-null  int64
 5   Heart Disease             15000 non-null  int64
 6   Marital Status            15000 non-null  object
 7   Work Type                 15000 non-null  object
 8   Residence Type            15000 non-null  object
 9   Average Glucose Level     15000 non-null  float64
 10  Body Mass Index (BMI)     15000 non-null  float64
 11  Smoking Status            15000 non-null  object
 12  Alcohol Intake            15000 non-null  object
 13  Physical Activity         15000 non-null  object
 14  Stroke History            15000 non-null  int64
 15  Family History of Stroke  15000 non-null  object
 16  Dietary Habits            15000 non-null  object
 17  Stress Levels             15000 non-null  float64
 18  Blood Pressure Levels     15000 non-null  object
 19  Cholesterol Levels        15000 non-null  object
 20  Symptoms                  12500 non-null  object
 21  Diagnosis                 15000 non-null  object
dtypes: float64(3), int64(5), object(14)
memory usage: 2.5+ MB

In [52]:
# Print info on Stroke_Prediction_2
Stroke_Prediction_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Patient ID                15000 non-null  int64
 1   Patient Name              15000 non-null  object
 2   Age                       15000 non-null  int64
 3   Gender                    15000 non-null  object
 4   Hypertension              15000 non-null  int64
 5   Heart Disease             15000 non-null  int64
 6   Marital Status            15000 non-null  object
 7   Work Type                 15000 non-null  object
 8   Residence Type            15000 non-null  object
 9   Average Glucose Level     15000 non-null  float64
 10  Body Mass Index (BMI)     15000 non-null  float64
 11  Smoking Status            15000 non-null  object
 12  Alcohol Intake            15000 non-null  object
 13  Physical Activity         15000 non-null  object
 14  Stroke History            15000 non-null  int64
 15  Family History of Stroke  15000 non-null  object
 16  Dietary Habits            15000 non-null  object
 17  Stress Levels             15000 non-null  float64
 18  Blood Pressure Levels     15000 non-null  object
 19  Cholesterol Levels        15000 non-null  object
 20  Symptoms                  12500 non-null  object
 21  Diagnosis                 15000 non-null  object
dtypes: float64(3), int64(5), object(14)
memory usage: 2.5+ MB

In [53]:
# Create a Clean DataFrame by dropping the NaN values (For Stroke Data)

combined_stroke_data = combined_stroke_data.dropna()
combined_stroke_data.head()

,Patient ID,Patient Name_x,Age_x,Gender_x,Hypertension_x,Heart Disease_x,Marital Status_x,Work Type_x,Residence Type_x,Average Glucose Level_x,...,Alcohol Intake_y,Physical Activity_y,Stroke History_y,Family History of Stroke_y,Dietary Habits_y,Stress Levels_y,Blood Pressure Levels_y,Cholesterol Levels_y,Symptoms_y,Diagnosis_y
0,18153,Mamooty Khurana,56,Male,0,1,Married,Self-employed,Rural,130.91,...,Social Drinker,Moderate,0,Yes,Vegan,3.48,140/108,"HDL: 68, LDL: 133","Difficulty Speaking, Headache",Stroke
1,62749,Kaira Subramaniam,80,Male,0,0,Single,Self-employed,Urban,183.73,...,Never,Low,0,No,Paleo,1.73,146/91,"HDL: 63, LDL: 70","Loss of Balance, Headache, Dizziness, Confusion",Stroke
2,32145,Dhanush Balan,26,Male,1,1,Married,Never Worked,Rural,189.00,...,Rarely,High,0,Yes,Paleo,7.31,154/97,"HDL: 59, LDL: 95","Seizures, Dizziness",Stroke
3,6154,Ivana Baral,73,Male,0,0,Married,Never Worked,Urban,185.29,...,Frequent Drinker,Moderate,0,No,Paleo,5.35,174/81,"HDL: 70, LDL: 137","Seizures, Blurred Vision, Severe Fatigue, Head...",No Stroke
4,48973,Darshit Jayaraman,51,Male,1,1,Divorced,Self-employed,Urban,177.34,...,Rarely,Low,0,Yes,Pescatarian,6.84,121/95,"HDL: 65, LDL: 68",Difficulty Speaking,Stroke

In [54]:
# Sort most Prominent Stroke Risk Factors by Decending Order (Health_Care)

Health_Care_df.sort_values(by=['stroke'], ascending=False)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
171,60739,Female,79.0,1,1,No,Self-employed,Rural,60.94,NaN,never smoked,1
158,66258,Female,71.0,0,0,Yes,Self-employed,Urban,195.71,34.1,formerly smoked,1
159,34567,Female,81.0,1,0,Yes,Self-employed,Rural,74.02,25.0,never smoked,1
160,50931,Female,76.0,0,0,Yes,Private,Urban,57.92,NaN,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1867,66110,Female,55.0,0,0,Yes,Private,Rural,63.47,27.8,Unknown,0
1866,25305,Male,10.0,0,0,No,children,Rural,99.87,NaN,formerly smoked,0
1865,70122,Female,29.0,0,0,Yes,Private,Rural,72.52,33.9,never smoked,0
1864,29232,Female,56.0,0,0,Yes,Private,Urban,114.33,30.7,smokes,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [63]:
# Sort most Prominent Stroke Risk Factors by Decending Order (Stroke_Prediction)

combined_stroke_data.sort_values(by=['Stroke History_y'], ascending=False)

,Patient ID,Patient Name_x,Age_x,Gender_x,Hypertension_x,Heart Disease_x,Marital Status_x,Work Type_x,Residence Type_x,Average Glucose Level_x,...,Alcohol Intake_y,Physical Activity_y,Stroke History_y,Family History of Stroke_y,Dietary Habits_y,Stress Levels_y,Blood Pressure Levels_y,Cholesterol Levels_y,Symptoms_y,Diagnosis_y
4954,40469,Jivin Chawla,53,Male,0,0,Married,Private,Urban,153.60,...,Never,Low,1,No,Vegetarian,6.86,146/91,"HDL: 40, LDL: 69","Dizziness, Numbness, Numbness, Loss of Balance...",Stroke
5709,21361,Samar Sha,57,Male,0,1,Single,Self-employed,Urban,151.22,...,Frequent Drinker,Moderate,1,Yes,Non-Vegetarian,5.05,145/91,"HDL: 73, LDL: 173","Numbness, Headache",No Stroke
6198,94569,Prerak Kaur,32,Female,1,1,Married,Self-employed,Urban,112.96,...,Never,High,1,No,Pescatarian,4.12,162/93,"HDL: 44, LDL: 72","Seizures, Difficulty Speaking, Dizziness, Seve...",No Stroke
11831,69356,Hazel Dayal,21,Male,1,1,Single,Never Worked,Urban,174.48,...,Frequent Drinker,Low,1,Yes,Keto,6.16,180/63,"HDL: 56, LDL: 85",Severe Fatigue,Stroke
11834,81168,Dishani Buch,72,Female,0,1,Single,Government Job,Urban,102.59,...,Never,Low,1,Yes,Pescatarian,4.06,159/68,"HDL: 76, LDL: 103","Blurred Vision, Blurred Vision, Loss of Balanc...",No Stroke
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6524,4669,Eva Saran,21,Female,0,0,Single,Private,Urban,120.15,...,Never,Moderate,0,Yes,Pescatarian,0.86,173/90,"HDL: 67, LDL: 126",Dizziness,Stroke
6522,88877,Trisha Hayer,74,Female,0,1,Single,Government Job,Urban,133.10,...,Frequent Drinker,Moderate,0,No,Vegan,5.61,171/92,"HDL: 59, LDL: 105",Weakness,No Stroke
6520,45422,Kanav Dhar,47,Female,0,0,Divorced,Never Worked,Urban,198.00,...,Rarely,High,0,No,Keto,9.91,107/99,"HDL: 30, LDL: 178","Difficulty Speaking, Loss of Balance",Stroke
6518,34609,Raghav De,62,Female,0,0,Divorced,Government Job,Urban,141.42,...,Frequent Drinker,Moderate,0,Yes,Pescatarian,7.70,128/103,"HDL: 43, LDL: 174","Loss of Balance, Loss of Balance, Loss of Balance",Stroke
14999,11066,Gokul Trivedi,64,Female,0,0,Single,Never Worked,Urban,186.88,...,Rarely,Moderate,0,No,Vegan,4.57,133/81,"HDL: 78, LDL: 179",Headache,Stroke

In [73]:
# For Health_Care, Grab total sum of people who had a stroke

Health_Care_df['stroke'].sum()

249

In [84]:
# For Health_Care, grab variable for smoking status

smokeing_status = Health_Care_df['smoking_status'].value_counts()

In [85]:
# For Health_Care, sort by decsending of people who do smoke

smokeing_status.sort_values(ascending=False)

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

In [87]:
# For Health_Care, grab those who have and do smoke; how many of those people had a stroke

smokeing_status_stroke = Health_Care_df.loc[Health_Care_df['smoking_status'] == 'smokes']
print(smokeing_status_stroke['stroke'].sum())

42

Of total # of people that had a stroke, only 42 of them do or have smoked. This shows us that smoking may not be a key factor in people who have had a stroke.

In [88]:
#Find the Top Two Risk Factors for Stroke (Health_Care)

Health_Care_df.sort_values(by=['stroke'], ascending=False).head(2)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
171,60739,Female,79.0,1,1,No,Self-employed,Rural,60.94,NaN,never smoked,1

Hyper Tension & Heart Disease.

In [91]:
# Find total number of people with HyperTension (Health_Care)
# Get Total Number of People with HyperTension who had a stroke (Health_Care)
# Get total number of people with HyperTension who did not have a stroke (Health_Care)

hyper_tension = Health_Care_df['hypertension'].value_counts()

hyper_tension_stroke = Health_Care_df.loc[Health_Care_df['hypertension'] == 1]
hyper_tension_stroke['stroke'].sum()

hyper_tension_no_stroke = Health_Care_df.loc[Health_Care_df['hypertension'] == 0]
hyper_tension_stroke['stroke'].sum()

# Find total number of people with Heart Disease (Health_Care)

heart_disease = Health_Care_df['heart_disease'].value_counts()

heart_disease_stroke =  Health_Care_df.loc[Health_Care_df['heart_disease'] == 1]
heart_disease_stroke['stroke'].sum()

heart_disease_no_stroke = Health_Care_df.loc[Health_Care_df['heart_disease'] == 0]
heart_disease_stroke['stroke'].sum()

print(hyper_tension_stroke['stroke'].sum())
print(hyper_tension_no_stroke['stroke'].sum())
print(hyper_tension_stroke['stroke'].sum() + hyper_tension_no_stroke['stroke'].sum())
    

print(heart_disease_stroke['stroke'].sum())
print(heart_disease_no_stroke['stroke'].sum())
print(heart_disease_stroke['stroke'].sum() + heart_disease_no_stroke['stroke'].sum())

66
183
249
47
202
249

Of Total Number of people who had a Stroke, 26% of them had Heart Disease

Of Total Number of people who had a Stroke, 19% of them had Hyper Tension

In [102]:
# Find total number of people who had a stroke (Stroke_Prediction_1)
# Find total number of people who did not have a stroke (Stroke_Prediction_1)
# Find total number of people who do or have smoked (Stroke_Prediction_1)

Stroke_Prediction['Stroke History'].count()
Stroke_Prediction['Stroke History'].count() - Stroke_Prediction['Stroke History'].sum()

7496

In [ ]:
# Find