In [2]:
import pandas as pd
from pathlib import Path
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [3]:
# Read in CSV files

csv_path_1 = Path('Resources\healthcare-dataset-stroke-data.csv')
Health_Care = pd.read_csv(csv_path_1)

csv_path_2 = Path('Resources\Stroke Prediction.csv')
Stroke_Prediction = pd.read_csv(csv_path_2)

csv_path_3 = Path('Resources\stroke_prediction_dataset.csv')
Stroke_Prediction_2 = pd.read_csv(csv_path_3)

# Create a new DataFrame for Health_Care
Health_Care_df = pd.DataFrame(Health_Care)
Health_Care_df.head()

# Combine Stroke DataSets 1 & 2 into a single DataFrame
combined_stroke_data = pd.merge(Stroke_Prediction, Stroke_Prediction_2, how='outer', on='Patient ID')

In [4]:
# Print info on Health_Care
Health_Care.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [5]:
# Print info on Stroke_Prediction
Stroke_Prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Patient ID                15000 non-null  int64
 1   Patient Name              15000 non-null  object
 2   Age                       15000 non-null  int64
 3   Gender                    15000 non-null  object
 4   Hypertension              15000 non-null  int64
 5   Heart Disease             15000 non-null  int64
 6   Marital Status            15000 non-null  object
 7   Work Type                 15000 non-null  object
 8   Residence Type            15000 non-null  object
 9   Average Glucose Level     15000 non-null  float64
 10  Body Mass Index (BMI)     15000 non-null  float64
 11  Smoking Status            15000 non-null  object
 12  Alcohol Intake            15000 non-null  object
 13  Physical Activity         15000 non-null  object
 14  Stroke History            15000 non-null  int64
 15  Family History of Stroke  15000 non-null  object
 16  Dietary Habits            15000 non-null  object
 17  Stress Levels             15000 non-null  float64
 18  Blood Pressure Levels     15000 non-null  object
 19  Cholesterol Levels        15000 non-null  object
 20  Symptoms                  12500 non-null  object
 21  Diagnosis                 15000 non-null  object
dtypes: float64(3), int64(5), object(14)
memory usage: 2.5+ MB

In [6]:
# Print info on Stroke_Prediction_2
Stroke_Prediction_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Patient ID                15000 non-null  int64
 1   Patient Name              15000 non-null  object
 2   Age                       15000 non-null  int64
 3   Gender                    15000 non-null  object
 4   Hypertension              15000 non-null  int64
 5   Heart Disease             15000 non-null  int64
 6   Marital Status            15000 non-null  object
 7   Work Type                 15000 non-null  object
 8   Residence Type            15000 non-null  object
 9   Average Glucose Level     15000 non-null  float64
 10  Body Mass Index (BMI)     15000 non-null  float64
 11  Smoking Status            15000 non-null  object
 12  Alcohol Intake            15000 non-null  object
 13  Physical Activity         15000 non-null  object
 14  Stroke History            15000 non-null  int64
 15  Family History of Stroke  15000 non-null  object
 16  Dietary Habits            15000 non-null  object
 17  Stress Levels             15000 non-null  float64
 18  Blood Pressure Levels     15000 non-null  object
 19  Cholesterol Levels        15000 non-null  object
 20  Symptoms                  12500 non-null  object
 21  Diagnosis                 15000 non-null  object
dtypes: float64(3), int64(5), object(14)
memory usage: 2.5+ MB

In [7]:
# Display DataFrame for HealthCare
Health_Care_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [8]:
# Display DataFrame for Stroke_Prediction
Stroke_Prediction

,Patient ID,Patient Name,Age,Gender,Hypertension,Heart Disease,Marital Status,Work Type,Residence Type,Average Glucose Level,...,Alcohol Intake,Physical Activity,Stroke History,Family History of Stroke,Dietary Habits,Stress Levels,Blood Pressure Levels,Cholesterol Levels,Symptoms,Diagnosis
0,18153,Mamooty Khurana,56,Male,0,1,Married,Self-employed,Rural,130.91,...,Social Drinker,Moderate,0,Yes,Vegan,3.48,140/108,"HDL: 68, LDL: 133","Difficulty Speaking, Headache",Stroke
1,62749,Kaira Subramaniam,80,Male,0,0,Single,Self-employed,Urban,183.73,...,Never,Low,0,No,Paleo,1.73,146/91,"HDL: 63, LDL: 70","Loss of Balance, Headache, Dizziness, Confusion",Stroke
2,32145,Dhanush Balan,26,Male,1,1,Married,Never Worked,Rural,189.00,...,Rarely,High,0,Yes,Paleo,7.31,154/97,"HDL: 59, LDL: 95","Seizures, Dizziness",Stroke
3,6154,Ivana Baral,73,Male,0,0,Married,Never Worked,Urban,185.29,...,Frequent Drinker,Moderate,0,No,Paleo,5.35,174/81,"HDL: 70, LDL: 137","Seizures, Blurred Vision, Severe Fatigue, Head...",No Stroke
4,48973,Darshit Jayaraman,51,Male,1,1,Divorced,Self-employed,Urban,177.34,...,Rarely,Low,0,Yes,Pescatarian,6.84,121/95,"HDL: 65, LDL: 68",Difficulty Speaking,Stroke
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,13981,Keya Iyer,88,Female,1,1,Divorced,Self-employed,Urban,160.22,...,Social Drinker,High,0,No,Paleo,1.12,171/92,"HDL: 44, LDL: 153",NaN,No Stroke
14996,87707,Anahita Virk,47,Female,0,0,Married,Private,Urban,107.58,...,Never,Low,1,No,Gluten-Free,1.47,155/71,"HDL: 35, LDL: 183",Difficulty Speaking,No Stroke
14997,33174,Ivana Kaur,35,Male,0,0,Married,Government Job,Rural,134.90,...,Rarely,High,1,No,Paleo,0.51,121/110,"HDL: 57, LDL: 159","Difficulty Speaking, Severe Fatigue, Headache",Stroke
14998,22343,Anvi Mannan,73,Male,0,0,Single,Self-employed,Urban,169.42,...,Never,High,0,Yes,Paleo,1.53,157/74,"HDL: 79, LDL: 91","Severe Fatigue, Numbness, Confusion, Dizziness...",No Stroke
14999,11066,Gokul Trivedi,64,Female,0,0,Single,Never Worked,Urban,186.88,...,Rarely,Moderate,0,No,Vegan,4.57,133/81,"HDL: 78, LDL: 179",Headache,Stroke

In [9]:
# Display DataFrame for Stroke_Prediction_2
Stroke_Prediction_2

,Patient ID,Patient Name,Age,Gender,Hypertension,Heart Disease,Marital Status,Work Type,Residence Type,Average Glucose Level,...,Alcohol Intake,Physical Activity,Stroke History,Family History of Stroke,Dietary Habits,Stress Levels,Blood Pressure Levels,Cholesterol Levels,Symptoms,Diagnosis
0,18153,Mamooty Khurana,56,Male,0,1,Married,Self-employed,Rural,130.91,...,Social Drinker,Moderate,0,Yes,Vegan,3.48,140/108,"HDL: 68, LDL: 133","Difficulty Speaking, Headache",Stroke
1,62749,Kaira Subramaniam,80,Male,0,0,Single,Self-employed,Urban,183.73,...,Never,Low,0,No,Paleo,1.73,146/91,"HDL: 63, LDL: 70","Loss of Balance, Headache, Dizziness, Confusion",Stroke
2,32145,Dhanush Balan,26,Male,1,1,Married,Never Worked,Rural,189.00,...,Rarely,High,0,Yes,Paleo,7.31,154/97,"HDL: 59, LDL: 95","Seizures, Dizziness",Stroke
3,6154,Ivana Baral,73,Male,0,0,Married,Never Worked,Urban,185.29,...,Frequent Drinker,Moderate,0,No,Paleo,5.35,174/81,"HDL: 70, LDL: 137","Seizures, Blurred Vision, Severe Fatigue, Head...",No Stroke
4,48973,Darshit Jayaraman,51,Male,1,1,Divorced,Self-employed,Urban,177.34,...,Rarely,Low,0,Yes,Pescatarian,6.84,121/95,"HDL: 65, LDL: 68",Difficulty Speaking,Stroke
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,13981,Keya Iyer,88,Female,1,1,Divorced,Self-employed,Urban,160.22,...,Social Drinker,High,0,No,Paleo,1.12,171/92,"HDL: 44, LDL: 153",NaN,No Stroke
14996,87707,Anahita Virk,47,Female,0,0,Married,Private,Urban,107.58,...,Never,Low,1,No,Gluten-Free,1.47,155/71,"HDL: 35, LDL: 183",Difficulty Speaking,No Stroke
14997,33174,Ivana Kaur,35,Male,0,0,Married,Government Job,Rural,134.90,...,Rarely,High,1,No,Paleo,0.51,121/110,"HDL: 57, LDL: 159","Difficulty Speaking, Severe Fatigue, Headache",Stroke
14998,22343,Anvi Mannan,73,Male,0,0,Single,Self-employed,Urban,169.42,...,Never,High,0,Yes,Paleo,1.53,157/74,"HDL: 79, LDL: 91","Severe Fatigue, Numbness, Confusion, Dizziness...",No Stroke
14999,11066,Gokul Trivedi,64,Female,0,0,Single,Never Worked,Urban,186.88,...,Rarely,Moderate,0,No,Vegan,4.57,133/81,"HDL: 78, LDL: 179",Headache,Stroke

In [10]:
# Create a Clean DataFrame by dropping the NaN values (For Stroke Data)
Health_Care = Health_Care.dropna()
Health_Care.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [11]:
# For Health_Care, Grab total sum of people who had a stroke
Health_Care_df['stroke'].sum()

249

In [20]:
# Find total number of people with BMI in each range (Health_Care)
def print_bmi(df):
    underweight_bmi = df['bmi'] < 18.5
    underweight_bmi.count()

    healthy_bmi = df.loc[(df['bmi'] > 18.4) & (df['bmi']< 25.0), "stroke"]
    healthy_bmi.count()

    overweight_bmi = df.loc[(df['bmi'] > 24.9) & (df['bmi'] < 30.0), "stroke"]
    overweight_bmi.count()

    obese_class_1_bmi = df.loc[(df['bmi'] > 29.9) & (df['bmi'] > 35.0), "stroke"]
    obese_class_1_bmi.count()

    obese_class_2_bmi = df.loc[(df['bmi'] > 34.9) & (df['bmi'] < 40.0), "stroke"]
    obese_class_2_bmi.count()

    obese_class_3_bmi = df['bmi'] >= 70
    obese_class_3_bmi.count()

    print(f'Total amount of people with underweight bmi: {underweight_bmi.count()}')
    print(f'Total amount of people with healthy bmi: {healthy_bmi.count()}')
    print(f'Total amount of people with overweight bmi: {overweight_bmi.count()}')
    print(f'Total amount of people with obese class 1 bmi: {obese_class_1_bmi.count()}')
    print(f'Total amount of people with obese class 2 bmi: {obese_class_2_bmi.count()}')
    print(f'Total amount of people with obese class 3 bmi: {obese_class_3_bmi.count()}')
    return {
       'underweight_bmi': underweight_bmi.count(), 
       'healthy_bmi': healthy_bmi.count(),
       'overweight_bmi': overweight_bmi.count(),
       'obese_class_1_bmi': obese_class_1_bmi.count(),
       'obese_class_2_bmi': obese_class_2_bmi.count(),
       'obese_class_3_bmi': obese_class_3_bmi.count(),
    }
    
all_bmis = print_bmi(Health_Care_df)
all_bmis

Total amount of people with underweight bmi: 5110
Total amount of people with healthy bmi: 1243
Total amount of people with overweight bmi: 1409
Total amount of people with obese class 1 bmi: 908
Total amount of people with obese class 2 bmi: 506
Total amount of people with obese class 3 bmi: 5110

{'underweight_bmi': 5110,
 'healthy_bmi': 1243,
 'overweight_bmi': 1409,
 'obese_class_1_bmi': 908,
 'obese_class_2_bmi': 506,
 'obese_class_3_bmi': 5110}

In [21]:
# For Health_Care, find how many people in each BMI category have had a stroke

stroke_df = Health_Care_df.loc[Health_Care_df['stroke']==1]
print("BMI for people who have had a stroke")
stroke_bmi = print_bmi(stroke_df)
stroke_bmi

BMI for people who have had a stroke
Total amount of people with underweight bmi: 249
Total amount of people with healthy bmi: 35
Total amount of people with overweight bmi: 75
Total amount of people with obese class 1 bmi: 42
Total amount of people with obese class 2 bmi: 23
Total amount of people with obese class 3 bmi: 249

{'underweight_bmi': 249,
 'healthy_bmi': 35,
 'overweight_bmi': 75,
 'obese_class_1_bmi': 42,
 'obese_class_2_bmi': 23,
 'obese_class_3_bmi': 249}

In [22]:
# For Health_Care, find how many people in each BMI category have not had a stroke
no_stroke_df = Health_Care_df.loc[Health_Care_df['stroke']==0]
print("BMI for people who have not had a stroke")
no_stroke_bmi = print_bmi(no_stroke_df)
no_stroke_bmi

BMI for people who have not had a stroke
Total amount of people with underweight bmi: 4861
Total amount of people with healthy bmi: 1208
Total amount of people with overweight bmi: 1334
Total amount of people with obese class 1 bmi: 866
Total amount of people with obese class 2 bmi: 483
Total amount of people with obese class 3 bmi: 4861

{'underweight_bmi': 4861,
 'healthy_bmi': 1208,
 'overweight_bmi': 1334,
 'obese_class_1_bmi': 866,
 'obese_class_2_bmi': 483,
 'obese_class_3_bmi': 4861}

In [28]:
# Find total number of people in the 40-49 age range (Health_Care)
fourty_somethings = Health_Care[(Health_Care["age"] > 39) & (Health_Care["age"] < 50)]
fourty_somethings.count()

# Find total number of people in the 50-59 age range (Health_Care)
fifty_somethings = Health_Care[(Health_Care["age"] > 49) & (Health_Care["age"] < 60)]
fifty_somethings.count()

# Find total number of people in the 60-69 age range (Health_Care)
sixty_somethings = Health_Care[(Health_Care['age'] > 59) & (Health_Care['age'] < 70)]
sixty_somethings.count()

# Find total number of people in the 70-79 age range (Health_Care)
seventy_somethings = Health_Care[(Health_Care['age'] > 69) & (Health_Care['age'] < 80)]
seventy_somethings.count()

# Find total number of people in the 80 and over age range (Health_Care)
eighty_and_overs = Health_Care[(Health_Care['age'] > 79)]
eighty_and_overs.count()

print(f'Total number of people in their 40s: {fourty_somethings.count()}')
print(f'Total number of people in their 50s: {fifty_somethings.count()}')
print(f'Total Total number of people in their 60s: {sixty_somethings.count()}')
print(f'Total Total number of people in their 70s: {seventy_somethings.count()}')
print(f'Total numner of people over 80: {eighty_and_overs.count()}')

Total number of people in their 40s: id                   705
gender               705
age                  705
hypertension         705
heart_disease        705
ever_married         705
work_type            705
Residence_type       705
avg_glucose_level    705
bmi                  705
smoking_status       705
stroke               705
dtype: int64
Total number of people in their 50s: id                   805
gender               805
age                  805
hypertension         805
heart_disease        805
ever_married         805
work_type            805
Residence_type       805
avg_glucose_level    805
bmi                  805
smoking_status       805
stroke               805
dtype: int64
Total Total number of people in their 60s: id                   590
gender               590
age                  590
hypertension         590
heart_disease        590
ever_married         590
work_type            590
Residence_type       590
avg_glucose_level    590
bmi                  590
smoking_status       590
stroke               590
dtype: int64
Total Total number of people in their 70s: id                   513
gender               513
age                  513
hypertension         513
heart_disease        513
ever_married         513
work_type            513
Residence_type       513
avg_glucose_level    513
bmi                  513
smoking_status       513
stroke               513
dtype: int64
Total numner of people over 80: id                   182
gender               182
age                  182
hypertension         182
heart_disease        182
ever_married         182
work_type            182
Residence_type       182
avg_glucose_level    182
bmi                  182
smoking_status       182
stroke               182
dtype: int64

In [29]:
# Find total number of people in the low glucose range (Health_Care)
low_glucose = Health_Care[(Health_Care['avg_glucose_level'] < 70)]
low_glucose.count()

# Find total number of people in the normal glucose range (Health_Care)
normal_glucose = Health_Care[(Health_Care['avg_glucose_level'] >= 70) & (Health_Care['avg_glucose_level'] <= 99)]
normal_glucose.count()

# Find total number of people in the pre-diabetic glucose range (Health_Care)
pre_diabetic_glucose = Health_Care[(Health_Care['avg_glucose_level'] >= 100) & (Health_Care['avg_glucose_level'] < 126)]
pre_diabetic_glucose.count()

# Find total number of people in the diabetic glucose range (Health_Care)
diabetic_glucose = Health_Care[(Health_Care['avg_glucose_level'] >= 126)]
diabetic_glucose.count()

print(f'Total amount of people with underweight bmi: {low_glucose.count()}')
print(f'Total amount of people with underweight bmi: {normal_glucose.count()}')
print(f'Total amount of people with underweight bmi: {pre_diabetic_glucose.count()}')
print(f'Total amount of people with underweight bmi: {diabetic_glucose.count()}')

Total amount of people with underweight bmi: id                   738
gender               738
age                  738
hypertension         738
heart_disease        738
ever_married         738
work_type            738
Residence_type       738
avg_glucose_level    738
bmi                  738
smoking_status       738
stroke               738
dtype: int64
Total amount of people with underweight bmi: id                   2234
gender               2234
age                  2234
hypertension         2234
heart_disease        2234
ever_married         2234
work_type            2234
Residence_type       2234
avg_glucose_level    2234
bmi                  2234
smoking_status       2234
stroke               2234
dtype: int64
Total amount of people with underweight bmi: id                   964
gender               964
age                  964
hypertension         964
heart_disease        964
ever_married         964
work_type            964
Residence_type       964
avg_glucose_level    964
bmi                  964
smoking_status       964
stroke               964
dtype: int64
Total amount of people with underweight bmi: id                   915
gender               915
age                  915
hypertension         915
heart_disease        915
ever_married         915
work_type            915
Residence_type       915
avg_glucose_level    915
bmi                  915
smoking_status       915
stroke               915
dtype: int64

In [ ]:
# For Health_Care, find how many people in each age group have had a stroke

In [ ]:
# For Health_Care, find how many people in each age group have not had a stroke

In [ ]:
# For Health_Care, find how many people in each glucose range have had a stroke

In [ ]:
# For Health_Care, find how many people in each glucose range have not had a stroke